.cell {
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.card {
  transition: all .3s ease;
  overflow: hidden;
  border-radius: 1.25rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .3);
}

.card_shadow {
  overflow: hidden;
  border-radius: 1.25rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .3);
  background-color: rgba(0, 0, 0, .1);
}

.friend-ship img {
  border-radius: 50%;
}

.friend-ship {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.friend-ship div {
  padding-left: 10px;
}

.friend-ship img {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}

.friend-ship a {
  background-color: transparent;
  transition: all .5s ease;
}

.cell a:hover {
  text-decoration: none;
}

.card:hover {
  transform: scale(1.06);
}

.friend-ship em {
  display: block;
  height: 1px;
  width: 100%;
  margin: -5px 0 5px 0;
  background: rgba(0, 0, 0, .1);
  transition: all .3s ease;
}