.background {
  background-image: url('banner.jpg');
  background-size: cover;
  background-position: center;
}

.heroBanner {
  padding: 4rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
  color: lightcyan;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  color: #FEC;
  background-color: #89AB;
}

.featureImg {
  height: 200px;
  width: 200px;
}
